
ul{
  list-style-type: none;
  display: right;
}
li{
  padding: 3%;
  font-size: 1.5rem;
  color: black;
  text-decoration: underline white;
}
.navbar{
  border: 1px solid black;
  width: 220px;
  height: 100vh;
}
.navbaritem{
  margin-top: 70%;
  padding: 1%;
}